@model MovieViewModel

@{
    ViewData["Title"] = "Add a new Movie";
}

<h1>@ViewData["Title"]</h1>

<partial name="_MovieNavTabsGenericPartial" />

<form method="post" asp-action="AddMovie">
    <input type="hidden" asp-for="Movie.MovieId" />
    <partial name="_MovieFormPartial" for="@Model.Movie"/>

    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Add Movie"/>
        <a class="btn btn-secondary" asp-action="AllMovies">Cancel</a>
    </div>
</form>