<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link @ViewBag.AllPage" asp-action="AllGenres">All Genres</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ViewBag.AddPage" asp-action="AddGenre">Add a Genre</a>
    </li>
</ul>

