@model GenreViewModel

@{
    ViewData["Title"] = "All Genres";
}

<h1>@ViewData["Title"]</h1>

<partial name="_GenreNavTabsGenericPartial" />

<form method="post" asp-action="AddGenre">
    <partial name="_GenreFormPartial" for="@Model.Genre" />

    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Add Genre"/>
        <a class="btn btn-secondary" asp-action="AllGenres">Cancel</a>
    </div>
</form>